.twocolumns__container{
    display: grid;
    grid-template-columns: 35% 55%;
    gap: 10%;
}
.twocolumns__me{
    margin-left: 1rem;
    width: 100%;
    border-radius: 1rem;
    background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
    display: grid;
    place-items: center;
}
/*This css rotates the img 10 degrees*/
.twocolumns__me-image{
    object-fit: cover;
    border-radius: 1rem;
}


.twocolumns__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.twocolumns__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}

.twocolumns__card:hover{
    background: transparent;
    border-color: var(--color-primary);
    cursor: default;
}

.twocolumns__icon {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.twocolumns__card h5{
    font-size: 0.95rem;
}

.twocolumns__card small{
    font-size: 1rem;
    color: var(--color-light);
}

.twocolumns__content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}

/*Media Queries (Medium Devices)*/
@media screen and (max-width: 1024px) {
    .twocolumns__container{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .twocolumns__me{
        width: 50%;
        margin: 2rem auto 4rem;
    }
    .twocolumns__content p{
        margin: 1rem 0 1.rem;
    }
    .twocolumns__me-image{
        transform: rotate(0deg);
    }
}

/*Media Queries (Small Devices)*/
@media screen and (max-width: 600px) {
    .twocolumns__me{
        width: 65%;
        margin: 0 auto 3rem;
    }
    .twocolumns__me-image{
        transform: rotate(0deg);
    }
    .twocolumns__cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .twocolumns__content {
        text-align: center;
    }
    .twocolumns__content p {
        margin: 1.rem 0;
    }
}